APP_CODE_PATH_HOST=./src
APP_CODE_PATH_CONTAINER=/var/www

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached
DATA_PATH_HOST=./data

VOLUMES_DRIVER=local
NETWORKS_DRIVER=bridge

COMPOSE_FILE=docker-compose.yml
COMPOSE_PATH_SEPARATOR=:
COMPOSE_PROJECT_NAME=simple-rss

DOCKER_HOST_IP=10.0.75.1

PHP_IDE_CONFIG=serverName=simple-rss
COMPOSE_CONVERT_WINDOWS_PATHS=1
DOCKER_SYNC_STRATEGY=unison

PHP_FPM_PUID=1000
PHP_FPM_PGID=1000
PHP_FPM_DEFAULT_LOCALE=POSIX

NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./docker/nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000
NGINX_SSL_PATH=./docker/nginx/ssl/

MARIADB_VERSION=10.3
MARIADB_DATABASE=default
MARIADB_USER=default
MARIADB_PASSWORD=secret
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root
MARIADB_ENTRYPOINT_INITDB=./docker/mariadb/initdb.d
